.THIS .uiMenuList--default {
    display: none;
    position: absolute;
    top: 1.4rem;
    left: auto;
    right: .5rem;
    transform: unset;
    z-index: 50;
}
.THIS .is-open-action {
    display: block !important;
}
.THIS .slds-timeline__item_expandable.slds-is-open .slds-timeline__item_details {
    background: white;
}
.THIS .slds-timeline__item_expandable {
    padding-bottom: 5px !important;
}
.THIS .slds-list_horizontal .slds-item_detail{
    white-space: pre-line;
}
@media only screen and (max-width: 600px) {
    .THIS .uiMenuList--default.uiMenuList {
        background:rgb(255, 255, 255);
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
        border: rgb(221, 219, 218);
        border-radius: 0.25rem;
        padding: 0.5rem 0;
        top: 1.55rem;

    }
    .THIS .uiMenuItem {
        padding: .25rem 2rem !important;
        border-bottom: 1px solid  #ddd;
    }
    .THIS .uiMenuItem:last-child {
        border-bottom:  none !important;
    }
}